<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CINEMA/ASIENTO</title>
        <link rel="stylesheet" href="../styles/style-asiento.css" />
        
        <link
            href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
            integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    </head>
    <body>
    <!-- HEADER  -->
    <header>
        <nav class="nav-menu">
            <div class="activar-menu">
                <label class="icon-menu" for="activar-menu">☰</label>
            </div>
        </nav>
        <div class="nav-logo">
            <span class="logo">Logo<span/>
        </div>
        <nav class="nav-buscar">
            <input type="text" placeholder="BUSCAR">
        </nav>
        <div class="nav-login">      <nav class="nav-login">
            <button>INICIAR SECCIÓN</button>
        </nav>
    </header>
    <!-- HEADER  -->
     
   <!-- MENU LATERAL -->
    <input type="checkbox" id="activar-menu">
    <div class="container-menu">
        <div class="cont-menu">
            <nav>
                <a href="index.html">Página Principal</a>
                <a href="#">Selección de Película</a>
                <a href="asiento.html">Selección de Asiento</a>
                <a href="#">Contacto</a>
            </nav>
            <!-- Botón de cierre del menú -->
            <label for="activar-menu" class="desactivar-menu">✖</label>
        </div>
    </div>
    <!-- FONDO OSCURO CUANDO EL MENÚ ESTÁ ACTIVO -->
    <div class="menu-overlay"></div>
    <!-- MENU LATERAL  -->

    <!-- BODY -->
    <div class="container">
        <div class="poster-section">
            <img src="#" alt="Poster de la peli" class="poster">
            <h2 class="movie-title">Movie Name</h2>
        </div>
        <div class="seating-section">
            <div>
                <div class="seat-row">
                    <button class="seat">a1</button>
                    <button class="seat">a2</button>
                    <button class="seat">a3</button>
                    <button class="seat">a4</button>
                </div>
                <div class="seat-row">
                    <button class="seat">b1</button>
                    <button class="seat">b2</button>
                    <button class="seat">b3</button>
                    <button class="seat">b4</button>
                </div>
                <div class="seat-row">
                    <button class="seat">c1</button>
                    <button class="seat">c2</button>
                    <button class="seat">c3</button>
                    <button class="seat">c4</button>
                </div>
                <div class="seat-row">
                    <button class="seat">d1</button>
                    <button class="seat">d2</button>
                    <button class="seat">d3</button>
                    <button class="seat">d4</button>
                </div>
                <div class="seat-row">
                    <button class="seat">e1</button>
                    <button class="seat">e2</button>
                    <button class="seat">e3</button>
                    <button class="seat">e4</button>
                </div>
                <div class="seat-row">
                    <button class="seat">f1</button>
                    <button class="seat">f2</button>
                    <button class="seat">f3</button>
                    <button class="seat">f4</button>
                </div>
            </div>
            <div>
                <div class="seat-row">
                    <button class="seat">a5</button>
                    <button class="seat">a6</button>
                    <button class="seat">a7</button>
                    <button class="seat">a8</button>
                </div>
                <div class="seat-row">
                    <button class="seat">b5</button>
                    <button class="seat">b6</button>
                    <button class="seat">b7</button>
                    <button class="seat">b8</button>
                </div>
                <div class="seat-row">
                    <button class="seat">c5</button>
                    <button class="seat">c6</button>
                    <button class="seat">c7</button>
                    <button class="seat">c8</button>
                </div>
                <div class="seat-row">
                    <button class="seat">d5</button>
                    <button class="seat">d6</button>
                    <button class="seat">d7</button>
                    <button class="seat">d8</button>
                </div>
                <div class="seat-row">
                    <button class="seat">e5</button>
                    <button class="seat">e6</button>
                    <button class="seat">e7</button>
                    <button class="seat">e8</button>
                </div>
                <div class="seat-row">
                    <button class="seat">f5</button>
                    <button class="seat">f6</button>
                    <button class="seat">f7</button>
                    <button class="seat">f8</button>
                </div>
            </div>
        </div>
    </div>
    <!-- BODY -->

    <!-- FOOTER  -->
    <footer>     
        <a href="#">Eventos</a>
        <a href="#">Siguenos en </a>
        <a href="#">Sobre nosotros</a></footer>
    <!-- FOOTER  -->

    <script src="../js/app-asiento.js"></script>

    </body>
</html>
