<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles-formulario.css">
    <title>Contact Page</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/menu-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar">
          <button class="btn-menu"><i class="fa-solid fa-bars"></i></button>
          <div class="search">
            <input type="text" />
            Buscar
          </div>
          Iniciar sesion
        </nav>
      </header>
      <!-- MENU LATERAL  -->
      <div class="menu">
        <div class="cont-menu">
          <nav>
            <a href="../views/index.html">Página principal</a>
            <a href="../views/pelicula.html">Selección de película</a>
            <a href="../views/form.html">Contacto</a>
          </nav>
        </div>
      </div>
      <!-- MENU LATERAL  -->
    <div class="container">
        <div class="box-info">
            <h1>CONTÁCTATE CON NOSOTROS</h1>
            <div class="data">
                <p><i class="fa-brands fa-whatsapp"></i> +57 788 17 68419</p>
                <p><i class="fa-solid fa-envelope"></i> TeatroApollo@gmail.com</p>
                <p><i class="fa-solid fa-location-dot"></i> Cl. 5 #69-03, Cali, Valle del Cauca</p>
            </div>
        </div>
        <div class="links">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
    
    <form>
        <div class="input-box"> 
            <input type="text" required
            placeholder="Nombre y apellidos">
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="input-box"> 
            <input type="email" required
            placeholder="Correo Electronico">
            <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="input-box"> 
            <input type="text" required
            placeholder="Asunto">
            <i class="fa-solid fa-pen-to-square"></i>
        </div>
        <div class="input-box"> 
            <textarea cols="30" rows="10"
            placeholder="Escribe tu mensaje"></textarea>
        </div>
        <button type="submit">Adjuntar archivo</button>
        <button type="submit">Enviar formulario</button>
    </form>
</div>
    </div>
    <script src="../js/menu.js" ></script>
    <footer>
        <a href="#">Eventos</a>
        <a href="#">Siguenos en </a>
        <a href="#">Sobre nosotros</a>
      </footer>
</body>
</html>