<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="../styles/menu-style.css
    "
    />
    <link rel="stylesheet" href="../styles/peli-card.css" />
    <link rel="stylesheet" href="../styles/peliculas-style.css" />
  </head>
  <body class="body">
    <header>
      <nav class="navbar">
        <button class="btn-menu"><i class="fa-solid fa-bars"></i></button>
        <div class="search">
          <input type="text" />
          Buscar
        </div>
        Iniciar sesion
      </nav>
    </header>
    <!-- MENU LATERAL  -->
    <div class="menu">
      <div class="cont-menu">
        <nav>
          <a href="../views/index.html">Página principal</a>
          <a href="../views/pelicula.html">Selección de película</a>
          <a href="../views/form.html">Contacto</a>
        </nav>
      </div>
    </div>
    <!-- MENU LATERAL  -->

    <div class="container">
      <div class="carousel-container">
        <div class="carousel">
          <div class="carousel-track">
            <!-- Las tarjetas -->
            <div class="card">
              <img
                src="https://play-lh.googleusercontent.com/MTJACf9JDBShVAwOS35DVNxvLLRnqxh-cFxsj8aabAow1EHrYnFX0I-0HShiS0ObopNkxnEl8heVgSh3rP8"
                alt="Spider-man Across The Spider-Verse"
              />
              <div class="card-label">
                <p>Spider-man Across The Spider-Verse</p>
              </div>
            </div>
            <div class="card">
              <img
                src="https://static.wikia.nocookie.net/041856f5-9fcd-4042-80f1-30307de2cd8e/scale-to-width/755"
                alt="DeadPool"
              />
              <div class="card-label">
                <p>DeadPool</p>
              </div>
            </div>
            <div class="card">
              <img
                src="https://image.tmdb.org/t/p/original/A4j8S6moJS2zNtRR8oWF08gRnL5.jpg"
                alt="Five Nights At Freddy's"
              />
              <div class="card-label">
                <p>Five Nights At Freddy's</p>
              </div>
            </div>
            <div class="card">
              <img
                src="https://www.tallengestore.com/cdn/shop/products/JurassicParkDominion-HollywoodDinosaurMovieGraphicPoster_92820359-04ac-409f-b57a-57fec61af063.jpg?v=1648215446"
                alt="Jurassic Park"
              />
              <div class="card-label">
                <p>Jurassic Park</p>
              </div>
            </div>
            <div class="card">
              <img
                src="https://imgs.search.brave.com/0pIUWcFKaKdp--40IAAGXY2FcESQ7hRS8XUGJTXhyAg/rs:fit:500:0:0:0/g:ce/aHR0cDovL3d3dy5p/bXBhd2FyZHMuY29t/LzIwMTUvcG9zdGVy/cy9taW5pb25zLmpw/Zw"
                alt="Minions"
              />
              <div class="card-label">
                <p>Minions</p>
              </div>
            </div>
            <div class="card">
              <img
                src="https://imgs.search.brave.com/2UF2FdHvVjFpNlOio-Ts5x4fuptLyMnnV6ZrvIK0rLQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9iYW5h/bmFyb2FkLmNvbS9j/ZG4vc2hvcC9wcm9k/dWN0cy9wc3QyNjg5/X0hlbGxyYWlzZXJf/TW92aWVfUG9zdGVy/X2xhcmdlLmpwZz92/PTE2MDg1MTE0NzI"
                alt="Minions"
              />
              <div class="card-label">
                <p>Hellraiser</p>
              </div>
            </div>
            <div class="card">
              <img
                src="https://imgs.search.brave.com/B6AdK7WDfdHTF_eosUN7l63A81Ja5heqDH2Hf3HT9Ww/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL00v/TVY1Qk1qSTBOVEV5/TWpBM05WNUJNbDVC/YW5CblhrRnRaVGd3/T0RrNU9UVTRPVEVA/LmpwZw"
                alt="Minions"
              />
              <div class="card-label">
                <p>Blair Witch</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <a href="#">Eventos</a>
      <a href="#">Siguenos en </a>
      <a href="#">Sobre nosotros</a>
    </footer>
    <script src="../js/app-asiento.js"></script>
    <script src="../js/menu.js"></script>
    <script src="../js/peli.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
