.menu {
  width: 10%;
  height: 80%;
  position: absolute;
  display: flex;
  left: -100%;
  top: 10%;
  transition: 1s;
  z-index: 1;
  -webkit-box-shadow: 10px 0px 34px -3px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 10px 0px 34px -3px rgba(0, 0, 0, 0.51);
  box-shadow: 10px 0px 34px -3px rgba(0, 0, 0, 0.51);
}

.cont-menu {
  width: 100%;
  max-width: 250px;
  background: #424242;
  height: 100%;
  position: relative;
  transition: all 500ms ease;
}

.menu-active {
  transition: 1s;
  left: 0%;
  top: 10%;
}

.cont-menu nav a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: white;
  border-left: 5px solid transparent;
  transition: all 500ms ease;
}

.cont-menu nav a:hover {
  border-left: 5px solid white;
  background: #343434;
}

.cont-menu label {
  position: absolute;
  right: 5px;
  top: 8px;
  cursor: pointer;
  font-size: 40px;
}
