
.movie-image {
  border-radius: 10px;
  width: 100%;
  max-width: 200px;
  height: 100%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid white;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.419);
}
.movie-title {
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Simbolo de close "x" */
.close {
  color: #ffffff;
  align-self: flex-end;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  
}

/* asientos */
.seats {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
  margin-top: 20px;
  width: 100%;
}

/* asiento propiedades */
.seat {
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 30px;
  border-radius: 10px;
  padding: 5px;
  background-color: #4c66af;
  color: white;
  cursor: pointer;
  font-size: 0.8em;
}
/* asiento seleccionado */
.seat.selected {
  background-color: #f44336;
}
