/* Contenedor del carrusel */

.carousel-container {
  padding-left: 15%;
  width: 100%;
  overflow: hidden; /* Ocultar tarjetas fuera de la vista */
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

/* Tarjetas */
.card {
  min-width: 200px;
  margin: 0 15px;
  text-align: center;
}

.card img {
  height: 300px;
  border-radius: 10px;
}

.card-label {
  margin-top: 10px;
  color: white;
  font-size: 14px;
}
